.home__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home__title {
    margin: 0 auto;
    font-size: 52px;
    font-weight: 900;
}

.home__para {
    font-size: 36px;
    margin: 0 auto;
    font-weight: 500;
}

.home__title_yellow{
    color: var(--main-color);
}

@media only screen and (max-width: 608px) {
    .home__title {
        font-size: 42px;
    }
    
    .home__para {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .home__description {
        
    }
}