.movie-descr {
    display: flex;
    justify-content: space-between;
}

.movie-descr__container {
    display: flex;
    justify-content: start;
}

.left-section {
    width: 224px;
    height: 636px;
}

.middle-section {
    height: 636px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.right-section {
    width: fit-content;
}

.movie-descr__poster {
    width: 224px;
    height: 336px;
    object-fit: cover;
}

.movie-descr__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.movie-descr__prem,
.movie-descr__duration,
.movie-descr__genre,
.movie-descr__cast,
.movie-descr__director {
    font-size: 14px;
    margin-bottom: 12px;
}

.text_bold {
    font-weight: 600;
}

.movie-descr__player {
    width: 436px;
    height: 262.5px;
    margin-top: 64px;
}

.right-section>.movie {
    margin: 0 0 8px 0;
}

/* SKELETONS */

.left-section_skeleton {
    height: 564px;
    background-color: lightgrey;
}

.movie-descr__plot_skeleton {
    height: 116px;
    width: 100%;
    background-color: lightgrey;
}

.movie-descr__player_skeleton {
    background-color: lightgrey;
}

@media only screen and (max-width: 990px) {
    .movie-descr {
        flex-direction: column;
        align-items: end;
    }

    
}

@media only screen and (max-width: 755px) {
    .movie-descr__player {
        max-width: 436px;
        width: 100%;
        margin-top: 64px;
    }
}

@media only screen and (max-width: 635px) {
    .movie-descr__player {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .movie-descr {
        align-items: center;
        /* justify-content: center; */
    }
    
    .movie-descr__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .movie-descr__player {
        margin-top: 40px;
    }

    .left-section {
        height: fit-content;
        margin-bottom: 30px;
    }
    
    .middle-section {
        height: fit-content;
        margin-bottom: 60px;
    }
  }