.selected {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
}

.selected__header {
    font-size: 24px;
    margin-bottom: 10px;
}

.selected__movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 516px;
    border-top: 1px solid var(--main-color);
}

.selected__movies--noData {
    max-width: 364px;
}