@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    --main-color: #FFB10A;
}

.container {
    max-width: 1116px;
    min-height: 100vh;
    padding: 20px;
    margin: 0 auto 36px auto;
}